{% extends "base.html" %}



{% block includes %}

{% endblock %}

{% block mydropdown %}
<li><a href="/account/{{user.username}}"><span class="glyphicon glyphicon-user"></span>    Profile</a></li>
<li role="separator" class="divider"></li>
<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>    Log out</a></li>
{% endblock %}

{% block sidenav %}
<p><a href="#">Vehicles</a></p>
<p><a href="#">Add Fueling</a></p>
{% endblock %}

{% block mainbody %}
<h1>Welcome</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<hr>
<h3>Test</h3>
<p>Lorem ipsum...</p>
{% endblock %}


{% block myscripts %}

{% endblock %}