{% extends "base.html" %}



{% block includes %}

{% endblock %}

{% block mydropdown %}
<li><a href="/account/{{user.username}}"><span class="glyphicon glyphicon-user"></span>    Profile</a></li>
<li role="separator" class="divider"></li>
<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>    Log out</a></li>
{% endblock %}

{% block sidenav %}
<p><a href="/vehicle_list_view">Vehicles</a></p>
<p><a href="/add_fueling_info">Add Fueling</a></p>
{% endblock %}

{% block mainbody %}
<h1>Welcome to Fueling person page!</h1>
{% endblock %}


{% block myscripts %}

{% endblock %}