{% extends "base.html" %}

{% block mydropdown %}
<li><a href="#"><span class="glyphicon glyphicon-user"></span>    Profile</a></li>
<li role="separator" class="divider"></li>
<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>    Log out</a></li>
{% endblock %}

{% block sidenav %}

{% endblock %}


{% block mainbody %}
  <h2 class="text-center mb-4">{{user.first_name}} {{user.last_name}}</h2>

  <!-- Account Information -->
  <form>
    <div class="form-group">
    <label for="my_firstname">First name</label>
    <input type="text" class="form-control" id="my_firstname"
           value = {{user.first_name}} readonly>
    </div>
    <div class="form-group">
    <label for="my_lastname">Last name</label>
    <input type="text" class="form-control" id="my_lastname"
           value = {{user.last_name}} readonly>
  </div>
    <div class="form-group">
    <label for="my_username">Username</label>
    <input type="text" class="form-control" id="my_username"
           value = {{user.username}} readonly>
  </div>
  <div class="form-group">
    <label for="my_email">Email address</label>
    <input type="email" class="form-control" id="my_email"
           value = {{user.email}} readonly>
  </div>
  <div class="form-group">
    <label for="my_password">Password</label>
    <input type="password" class="form-control" id="my_password"
           value = {{user.password}} readonly>
  </div>
</form>

{% endblock %}